.maincart{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -7%;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.product, .quality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}