/* .section1 img{
    margin-left: 47%;
    width: 50%;

}

.sec1text{
    margin-left: 30%;
    position: absolute;
}

/* .section1{
    display: flex;
    align-items: center;
    background-color: brown;
} */ 

/* .navbar{
    position: fixed;
    width: 100%;
} */
.sec1{
    align-items: center;
}

.sec1text{
    margin-left: -7%;
    position: absolute;
}

.sec1 img{
    margin-left: 47%;
    width: 50%;
    max-height: 89vh;
}

.sec3 .card{
    border: none;
    
}


.sec3 img{
height: 50vh;
}